.main{
	background-color: green;
	height:100vh;
	width:100vw;
	display:flex;
	margin: 0px;
	padding:20px;
    gap:20px;
}
.photo_container{
	position:relative;
	}
.product__photo{
	width:40vw;
}
.photo-main{
      width: 100%;
}
.photo-album{
	display:flex;
	gap:10px;
	margin-top:10px;
}
.phto-album img{
	width: 50vw;
		height: 30vw;
	object-fit:cover;
}
.title{
	font-size:25px;
	fon-weight:bold;
}
.price{
	font-size: 20px;
	font-weight:bold;
	color: red;
}
.variant{
	
}
.add-to-cart{
	background-color:red;
	color:white;
	padding: 10px 20px;
	border: none;
	cursor:pointer;
}
