body{
	height:100vh;
	width:100vw;
	display:flex;
	justify-content:center;
	align-items:center;
 }
main{
	height:100%;
	width:100%;
}
	.product{
	background-color:white;
    height:70%;
	width: 70%;
		justify-content:space-between;
		margin: 20% auto;
	display:flex;
	 font-size:20px;
}

.photo-main{
	background-color:#b3e943;
	height:350px;
     >.controls{
	display:flex;
	justify-content: space-between;
	color:#fff;
    }
	>.img{
		width:200px;
	}
}
.photo-album>ul{
	display:flex;
	justify-content: space-around;
	list-style:none;
	height:30%;
	width:30%;
}
.product__info{
	height:50%;
	width:50%;
}
.title>h1{
	font-size:15px;
	font-style:sans-serif;
    }
.title>span
{
	font-size:5px; 
}
.price{
	font-size: 35px;
	font-weight:bold;
	color: red;
}
.variant{
	ul{
		display: flex;
		list-style: none;
		>li{
			>img{
				width: 30px;
			}
		}
	}
}
.btn>button{
	border: none;
	background-color:ed3b3d;
	font-size: 10px;
	border-radius: 2px;
	height: 20px
}
